---

---

<footer class="footer-um">
<div class="footer-dentro">
    <div>
        <a href="#">
        <img class="footer-bickraft" src="bikcraft.svg" alt="bikcraft">
        </a>
    </div>
    <div class="footer-box-um">
        <h4 class="h4-um">Contato</h4>
        <ul class="footer-lista footer-lista-um">
            <li>
                <a class="gray" href="tel:+55 21 9999-9999">+55 21 9999-9999</a>
            </li>
            <li>
                <a class="gray" href="mailto:amanayaradev@gmail.com">amanayaradev@gmail.com</a>
            </li>
            <li>
                <address class="gray">Rua Ali Perto, 42 - Botafogo <br> Rio de Janeiro - RJ</address>
            </li>
        </ul>
    </div>
    <div class="footer-box-dois">
        <h4 class="h4-um">Informações</h4>
        <ul class="footer-lista">
            <li>
                <a class="gray" href="#">Bicicletas</a>
            </li>
            <li>
                <a class="gray" href="#">Seguros</a>
            </li>
            <li>
                <a class="gray" href="#">Contato</a>
            </li>
            <li>
                <a class="gray" href="#">Termos e Condições</a>
            </li>
        </ul>
    </div>
</div>
</footer>


<style>
    .footer-um {
        margin-bottom: 0;
        background-color: #333;
        color: white;
        padding: 2rem;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        background-color: black;
    }

    .footer-dentro {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .footer-dentro div{
        margin-right: 2rem;
    }

    .footer-um a {
    text-decoration: none;
    }

    .footer-lista {
        font-size: 0.7rem;
    letter-spacing: 1px;
    line-height: 1;
    list-style: none;
    }
    .footer-lista li {
        margin-bottom: 1rem
    }

    .footer-lista-um li {
    border-bottom: 0.5px solid #111111;
    padding-bottom: 1px;
    }
    .footer-lista-um li:first-child {
    border-bottom: none;
    }
    .footer-lista-um li:nth-child(2) {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    }

    .h4-um {
    display: block;
    font-size: 2.5vh;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
    }
    a {
        color: white;
    }

</style>
